    {{> head}}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>El aguila</h1>
            <p>
                Compañia de seguros
            </p>
        </div>

        <div class="clo-4">
            <img src="assets/img/logo.png" class="img-thumbnail">
        </div>
    </div>
    {{> footer }}